@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body {
  background-color: #141019;
  background: radial-gradient(at 50% -20%, #908392, #0d060e) fixed;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3vw;
  color: #ffffff;
  text-shadow: 0 0 5px #ffeba7, 0 0 15px #ffeba7, 0 0 20px #ffeba7, 0 0 40px #ffeba7, 0 0 60px #ffeba7, 0 0 10px #f5f6fa, 0 0 98px #ffeba7;
  text-align: center;
  animation: neonEffect 12s infinite;
  text-align: center;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  color: #000000;
  text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 60px #ffffff, 0 0 10px #f5f6fa, 0 0 98px #ffffff;
  text-align: center;
  animation: neonEffect 12s infinite;
  text-align: center;
}

#handboy {
  animation: swing ease-in-out 1.3s infinite alternate;
  transform-origin: 98% 98%;
  transform-box: fill-box;
}

#girllight {
  animation: swing ease-in-out 1.3s infinite alternate;
  transform-origin: 0% 97%;
  transform-box: fill-box;
}

#hairgirl {
  animation: swinghair ease-in-out 1.3s infinite alternate;
  transform-origin: 60% 0%;
  transform-box: fill-box;
}

#zero {
  transform-origin: bottom;
  transform-box: fill-box;
}

/*************swing************/
@keyframes swing {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/*************swing hair************/
@keyframes swinghair {
  0% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(-6deg);
  }
}
